
.event-form-container {
  position: fixed;
  bottom: 0;
  left: 10vw;
  background-color: #ffffff;
  padding-bottom: 25px;
  width: 88vw;
}
.event-form_video-preview-container{
  max-width: 600px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 15px 15px 0px 0px;
}
.video-preview {
  width: 100%;
}
.event-form {
  display: flex;
  position: relative;
  max-width: 600px;
}

.event-form_text-input {
  width: 100%;
  height: 44px;
}

.event-form_create-buttons, .event-form_control-buttons {
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 100px;
  top: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.event-btn {
  max-width: 44px;
  width: 33%;
  min-width: 16px;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 3px 5px;
  border: 1px solid #5b93ea;
  color: #84d251;
  margin-left: 7px;
  margin-right: 7px;
}

/* .event-form_audio-btn {}

.event-form_video-btn {}

.event-form_submit-btn {} */

.button-image {
  width: 100%;
}
.hidden {
  display: none;
}